<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lea">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia, quibusdam eveniet sit, aliquid omnis autem, perferendis quam aperiam dolores totam ullam. Sit eius debitis dolor animi temporibus optio libero.</p>
            </div>
        </div>
    </header>