 @model Product
 <div class="card mb-2">
    <img src="~/img/@Model.ImageUrl" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        @* href="/product/details/@Model.ProductId" *@
        <a asp-controller="Product" asp-action="Details" asp-route-id= "@Model.ProductId" class="btn btn-primary">İncele</a>
    </div>
</div> 